name: Sync files to s3
on:
  push:
    branches:
    - main
permissions:
  contents: read
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.PORTFOLIO2026_ROLE }}
        aws-region: us-west-2

    - name: Sync files to S3
      run: aws s3 sync . s3://jamescrodgers.com --exclude ".git*"
