name: Deploy Site to S3
on:
  push:
    branches:
      - main
    paths:
      - "index.html"
      - "styles.css"
      - "script.js"
      - "img/**"

permissions:
  id-token: write
  contents: read

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PORTFOLIO2026_ROLE }}
          aws-region: us-east-1

      - name: sync files
        run: aws s3 sync . s3://jamescrodgers.com --exclude ".git/*" --exclude ".github/*" --delete
