name: Test AWS Connection
on:
  workflow_dispatch: # Allows you to run this manually from the Actions tab

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::716524653159:role/GitHubActionS3Sync
          aws-region: us-east-1

      - name: Identity Check
        run: aws sts get-caller-identity
