name: Sync files to s3
on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

		- name: Debug OIDC Token
        run: |
          echo "Checking if ACTIONS_ID_TOKEN_REQUEST_URL is set..."
          if [ -z "$ACTIONS_ID_TOKEN_REQUEST_URL" ]; then
            echo "❌ OIDC Token permissions are NOT set correctly in YAML"
          else
            echo "✅ OIDC Token permissions are set"
          fi

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::716524653159:role/GitHub_jamescrodgers.com
        aws-region: us-west-2

    - name: Sync files to S3
      run: aws s3 sync . s3://jamescrodgers.com --exclude ".git*"
