name: Test AWS Connection
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::716524653159:role/GitHubActionS3Sync
          aws-region: us-east-1

      - name: sync files
        run: aws s3 sync . s3://jamescrodgers.com --exclude ".git/*" --exclude ".github/*" --exclude .python-version
